<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>admin</username>
            <id>metaservice-central-ext</id>
            <password>{DESede}T1kJuQzcg/IYtMBu+oK7GA==</password>
        </server>
        <server>
            <username>admin</username>
            <id>metaservice-snapshots-ext</id>
            <password>{DESede}T1kJuQzcg/IYtMBu+oK7GA==</password>
        </server>
        <server>
            <username>admin</username>
            <id>metaservice-central</id>
            <password>{DESede}T1kJuQzcg/IYtMBu+oK7GA==</password>
        </server>
        <server>
            <username>admin</username>
            <id>metaservice-snapshots</id>
            <password>{DESede}T1kJuQzcg/IYtMBu+oK7GA==</password>
        </server>
        <server>
            <username>admin</username>
            <id>metaservice-repo</id>
            <password>{DESede}T1kJuQzcg/IYtMBu+oK7GA==</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>bigdata.releases</id>
                    <url>http://www.systap.com/maven/releases</url>
                </repository>
                <repository>
                    <id>nxparser-repo</id>
                    <url>
                        http://nxparser.googlecode.com/svn/repository
                    </url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>metaservice-repo</id>
                    <name>remote repos</name>
                    <url>http://maven.metaservice.org/artifactory/remote-repos</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>metaservice-central-ext</id>
                    <name>libs-release</name>
                    <url>http://maven.metaservice.org/artifactory/ext-release</url>
                </repository>
                <repository>
                    <snapshots >
                        <enabled>true</enabled>
                    </snapshots>
                    <id>metaservice-snapshots-ext</id>
                    <name>libs-snapshot</name>
                    <url>http://maven.metaservice.org/artifactory/ext-snapshot</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>metaservice-central</id>
                    <name>libs-release</name>
                    <url>http://maven.metaservice.org/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots >
                        <enabled>true</enabled>
                    </snapshots>
                    <id>metaservice-snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://maven.metaservice.org/artifactory/libs-snapshot</url>
                </repository>
                <repository>
                    <id>clojars</id>
                    <url>http://clojars.org/repo/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>metaservice-central</id>
                    <name>plugins-release</name>
                    <url>http://maven.metaservice.org/artifactory/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>metaservice-snapshots</id>
                    <name>plugins-snapshot</name>
                    <url>http://maven.metaservice.org/artifactory/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
