RewriteEngine on 
# Route downloads
RewriteRule ^(packages|projects|releases|reports|report).*\.jsonld$ /rest/resource/jsonld?path=http://%{HTTP_HOST}%{REQUEST_URI}  [L]
RewriteRule ^(packages|projects|releases|reports|report).*\.rdf$ /rest/resource/rdf?path=http://%{HTTP_HOST}%{REQUEST_URI}  [L]

# Route resources sparql
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml [NC,OR]
RewriteCond %{HTTP_ACCEPT} application/ld\+json [NC]
RewriteRule ^(packages|projects|releases|reports|report) /rest/resource?path=http://%{HTTP_HOST}%{REQUEST_URI}  [L]

# Route resources html
RewriteCond %{HTTP_ACCEPT} text/html [NC]
RewriteRule ^(packages|projects|releases|reports|report) index.html [L]

# Route search html
RewriteCond %{HTTP_ACCEPT} text/html [NC]
RewriteRule ^search$ index.html [L]

# route search query
RewriteCond %{HTTP_ACCEPT} application/sparql-results\+json [NC]
RewriteRule ^search /rest/search [L]

