.modal-vertical-centered  .modal-dialog {
  /*  transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
    -webkit-transform: translate(0, 50%) !important; */
    margin-top: 20% !important;

}

#footer {
    margin-top: 3em;
    text-align: center;
}

a.external:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
}

#provenancewindow {
    top:30%;
    right:30%;
    width:400px;
    max-height: 80%;
    overflow: hidden;
    position:fixed;
    -moz-box-shadow:    2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow:         2px 2px 4px 5px #ccc;
}

#provenancewindow .panel-heading {
    cursor: move;
}

#provenancewindow .panel-content{
    width: 100%;overflow-x:hidden; overflow-y:scroll;
}