.modal-vertical-centered  .modal-dialog {
  /*  transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
    -webkit-transform: translate(0, 50%) !important; */
    margin-top: 20% !important;

}

#footer {
    margin-top: 20%;
    text-align: center;
}

a.external:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
}